doctype html
html(lang="en")
	head
		block title
			title #{title}
		link(rel="stylesheet" href="/app.css")
body
	div#container
		include menu
		block content
	script(type="text/javascript" src="/app.js")
