div
	p.
		Bonjour #{name}
	p.
		Vous avez reçu une invitation sur nouha.
		Vous pouvez vous connecter à l'aide de votre email et du mot de passe suivant:<br />
		#{password}<br />
		Pensez à modifer celui-ci.<br />
		Cordialement.

