subject.
	Modification de votre mot de passe
text
	div
		p.
			Bonjour #{name}
		p.
			Voici votre nouveau mot de passe :<br />
			#{password}<br />
			Pensez à modifer celui-ci.<br />
			Cordialement.
