html, body {
	height: 100%;
	font-family: $family;
	font-size: $fontBase;
	line-height: $lineHeight;
}

#container {
	background: $grey;
	min-height: 100%;
}

h1 {
	font-size: $fontH1;
}

h2 {
	font-size: $fontH2;
}

h3 {
	font-size: $fontH3;
}

h4 {
	font-size: $fontH4;
}

input {
	font-size: $fontBase;
}
