// Colors
$black: rgb(50,50,50);
$white: white;
$grey: rgb(100,100,100);
$greyLight: rgb(215,215,215);
$green: rgb(0,205,180);
$greenDark: rgb(0,170,150);

// Sizes
$base: 1rem;

// Fonts
$family: "Helvetica Neue", Arial, sans-serif;
$fontBase: 1rem;
$fontH1: 1.3rem;
$fontH2: 1.2rem;
$fontH3: 1.1rem;
$fontH4: 1rem;

$lineHeight: 1.2;
